body{
    overflow: hidden;
}
#PointsPlace{
    width: 100%;
    height: auto;
    top: 40%;
    left: 48%;
    position: absolute;
    font-size: 200%;
}
#GameTable{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    background-color:#63ca00;
}
#Head{
    background-color: #343837;
    width: 50px;
    height: 50px;
    top: 0%;;
    z-index: 100;
    left: 0%;
    position: absolute;
    transform: rotate(90deg);
    border: none;

}
#Fruit{
    background-color: #FF073A;
    width: 50px;
    height: 50px;
    top: 20%;
    left: 20%;
    z-index: 98;
    position: absolute;
}
.Body{
    background-color: rgb(126, 0,0);
    width: 50px;
    height: 50px;
    top: 35%;
    left:35%;
    z-index: 99;
    position: absolute;
}