body{
    overflow: hidden;
    margin: 0%;
}
:root{
    --Objects-Size:25px;
}
#PointsPlace{
    width: 100%;
    height: auto;
    top: 40%;
    left: 48%;
    position: absolute;
    font-size: 200%;
}
#CenterGameTable{
    background-color: #343837;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
#GameTable{
    border-radius: 10px;
    width: 750px;
    height: 450px;
    top: 0%;
    left: 0%;
    position: relative;
    background-color:#63ca00;
}
#Head{
    background-color: #343837;
    width: var(--Objects-Size);
    height: var(--Objects-Size);
    top: 0%;
    z-index: 100;
    left: 0%;
    position: absolute;
    transform: rotate(90deg);
    border: none;

}
#Fruit{
    background-color: #FF073A;
    width: var(--Objects-Size);
    height: var(--Objects-Size);
    top: 20%;
    left: 20%;
    z-index: 98;
    position: absolute;
}
.Body{
    background-color: rgb(126, 0,0);
    width: var(--Objects-Size);
    height: var(--Objects-Size);
    top: 35%;
    left:35%;
    z-index: 99;
    position: absolute;
}